html {
  scroll-behavior: smooth;
}

.navbar-details{
	background: #765C3D;
	height: 68px;
}

.logo{
	flex-shrink: 0;
}

/* Header CSS */
nav > a {
	margin-left: 96px;
}

nav > div {
	margin-right: 96px;
}

nav > div > a {
	text-decoration: none;
	color: #F2D2AE;
	text-align: center;
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

nav > div > a.pointer {
    cursor: pointer;
 }

nav > div > a:hover {
    color: #F2D2AE;
    text-decoration: none;
}

/* Home CSS */
#home-background {
	background-image: linear-gradient(rgba(0, 0, 0, 0.59),rgba(0, 0, 0, 0.59)), url('./images/Home-Background.png');
	height: 816px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#home-div {
	margin-left: 180px;
	width: 493px;
	height: 290px;
	flex-shrink: 0;
}

#home-title {
	color: #FFF;
	font-family: Montserrat;
	font-size: 64px;
	font-style: normal;
	font-weight: 600;
	line-height: 72px; /* 112.5% */
	letter-spacing: -1.28px;
	text-align: left;
}

#home-description {
	padding-top: 20px;
	color: #FFF;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px; /* 125% */
	text-align: left;
}

#home-button{
	padding: 12px 32px 12px 32px;
	color: var(--button-text-button-primary-text, #FFF);
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 120% */
	border-radius: 999px;
	background: #B59066;
}

/* Gallery CSS */
#gallery-background {
	height: 3134px;
	margin-bottom: 30vh;
	background: #FFF;
	flex-shrink: 0;
}

#gallery-details {
	padding-top: 167px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 31px;
	flex-shrink: 0;
}

#gallery-title {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	flex-shrink: 0;
	color: #765C3D;
	text-align: center;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#gallery-description {
	width: 983px;
	flex-shrink: 0;
	color: #765C3D;
	text-align: center;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.album-div {
	margin: 113px 218px 0px 218px;
	flex-shrink: 0;
	background: #FFF;
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
}

.album-details {
	margin: 65px 430px 0px 131px;
	padding-top: 65px;
	display: flex;
	width: 684px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 31px;
	flex-shrink: 0;
}

.album-title {
	flex-direction: column;
	justify-content: flex-end;
	flex-shrink: 0;
	color: #765C3D;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.album-description {
	flex-shrink: 0;
	color: #765C3D;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.carousel .carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	margin-bottom: 60px;
}

.carousel-indicators {
	padding-bottom: 30px;
}

.carousel {
	padding: 75px 200px 75px 200px;
}

.carousel-control-prev {
	margin-left: 160px;
}

.carousel-control-next {
	margin-right: 160px;
}

/* Contact Page */
#contact-div {
	flex-shrink: 0;
}


#contact-bg-image {
	width: 45%;
	height: 1000px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.59),rgba(0, 0, 0, 0.59)), url('./images/Contact-Background.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#contact-bg {
	width: 55%;
	height: 1000px;
	flex-shrink: 0;
	background: #FFF2E4;
}

#contact-description {
	padding: 175px 238px 0px 125px;
	display: flex;
	width: 509px;
	height: 138px;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 31px;
	flex-shrink: 0;
}

#contact-title {
	display: flex;
	width: 501.751px;
	height: 49px;
	flex-direction: column;
	justify-content: flex-end;
	flex-shrink: 0;
	color: #765C3D;
	font-family: Montserrat;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: left;
}

#contact-details {
	width: 509px;
	flex-shrink: 0;
	color: #765C3D;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-align: left;
}

#form-name-div {
	padding: 45px 238px 0px 125px;
	margin-top: 50px;
	width: 509px;
	height: 107px;
	flex-shrink: 0;
}

#form-name {
	display: flex;
	width: 509px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #B59066;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: left;
}

#nameInput {
	width: 509px;
	height: 72px;
	flex-shrink: 0;
	border: 1px solid #B59066;
	background: #FFF;

	display: flex;

	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #765C3D;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#form-email-div {
	padding: 45px 238px 0px 125px;
	margin-top: 50px;
	width: 509px;
	height: 107px;
	flex-shrink: 0;
}

#form-email {
	display: flex;
	width: 509px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #B59066;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: left;
}

#emailInput {
	width: 509px;
	height: 72px;
	flex-shrink: 0;
	border: 1px solid #B59066;
	background: #FFF;

	display: flex;

	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #765C3D;
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal
}

#form-message-div {
	padding: 45px 238px 0px 125px;
	margin-top: 50px;
	width: 509px;
	flex-shrink: 0;
}

#form-message {
	display: flex;
	width: 509px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	color: #B59066;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	text-align: left;
}

#messageTextarea{
	width: 509px;
	height: 210px;
	flex-shrink: 0;
	border: 1px solid #B59066;
	background: #FFF;
}

#button {
	display: flex;
	margin: 30px 0px 0px 500px;
	padding: 12px 32px 0px 32px;
	justify-content: center;
	align-items: center;
	border-radius: 999px;
	background: #B59066;
	border: none;
}

#button-text {
	color: var(--button-text-button-primary-text, #FFF);
	text-align: center;
	font-family: Montserrat;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px; /* 120% */
}
footer {
	height: 56px;
	flex-shrink: 0;
	background: #B59066;
}

footer > p {
	margin-top: 30px;
	padding-top: 20px;
	color: #FFF2E4;
	text-align: center;
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}