.img-float {
	width: 250px;
	height: 250px;

	/*The float property can be set either to the left or right.
	This positioning will depend of the content or sibling of
	element you are selecting*/
	float: right;
	z-index: 2;
}

.parent-element{
	background-color: skyblue;
	padding: 10px
	/*If the parent element has position:  relative, then any children
	that have position absolute will have their positions based
	on the parent instead of the whole page instead*/
	position: relative;
	height: 800vh;
	z-index: -1;
}

.child-one{
	background-color: gray;
	padding: 10px;
}

.child-two{
	background-color: yellow;
	padding: 10px;

	/*This will attack to the page itself and will not move regardless
	on if you scroll*/

	/*Sticky - Positioned relatively default but once it reaches a certain
	scroll point, then it will stick to the browser until it is back in its
	original position, The top property is crucial for it to be able to stick
	with spacing on the top*/
	position: sticky;
	top: 10px;
}

.child-three{
	background-color: indianred;	
	padding: 10px;
	
	/*bottom: 10px;/
}

/*To emulate a long scrolling page*/
html{
	height: 1200;
}